In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  
password = getpass.getpass()
engine = f'mysql+pymysql://root:{password}@localhost/DemocracyStudioDB'

········

In [2]:
agent = pd.read_sql_query('SELECT * FROM DemocracyStudioDB.agent', engine)
agent.head()

,agent_id,city_id,participation_channel,agent_category,agent_type,higly_engaged
0,1,Taipei,Survey,Private Sector,Corporate Company,None
1,2,Taipei,Survey,Governmental & Public Sector,Individual Citizen,None
2,3,Taipei,Survey,Governmental & Public Sector,Individual Citizen,None
3,4,Taipei,Survey,Private Sector,Corporate Company,None
4,5,Taipei,Survey,Private Sector,Startup & SMEs,None

In [3]:
agent.shape

(20989, 6)

In [4]:
agent.city_id.unique()

array(['Taipei', 'Tel Aviv', 'Tallinn'], dtype=object)

In [5]:
agent.participation_channel.unique()

array(['Survey', 'Interview', 'Tweet'], dtype=object)

In [6]:
agent.agent_type.nunique()

12

In [7]:
agent.agent_category.nunique()

5

In [8]:
tweet = pd.read_sql_query('SELECT * FROM DemocracyStudioDB.tweet', engine)
tweet.head()

,tweet_id,city_id,agent_id,twitter_profile,tweet_url,content,tweet_date
0,1,Taipei,19466,https://twitter.com/TwinMomTravels,https://twitter.com/TwinMomTravels/status/1210...,"#Taiwan is full of unique, stunning landscapes...",None
1,2,Taipei,8312,https://twitter.com/Hillinatrix,https://twitter.com/Hillinatrix/status/1208552...,Party in an old Japanese-style building near m...,None
2,3,Taipei,18170,https://twitter.com/taiwannews_setn,https://twitter.com/taiwannews_setn/status/120...,"The City Of Taipei, Taiwan❤️\n#Taiwan #CzechRe...",None
3,4,Taipei,18151,https://twitter.com/Taiwan_Today,https://twitter.com/Taiwan_Today/status/120967...,.@iingwen (center) congratulates a freshly min...,None
4,5,Taipei,18148,https://twitter.com/Taiwan_Review,https://twitter.com/Taiwan_Review/status/12101...,Activists participating in a protest held by #...,None

In [9]:
tweet.twitter_profile.nunique()

20586

In [10]:
survey = pd.read_sql_query('SELECT * FROM DemocracyStudioDB.survey', engine)
survey.head()

,survey_id,city_id,agent_id,gender,birth_date,arrival_date,district_id,engagement_feeling,media_source,social_media,...,relationship_cat2,relationship_cat3,relationship_cat4,meeting_place,opinion_share,opinion_change,engagement_wish,engagement_type,engagement_freq,survey_date
0,1,Taipei,1,Woman,2019-02-22,2015-09-10,Dà'ān/大安,1,Social Medias ; Messaging Apps ; Word to mouth...,Facebook ; Youtube ; Instagram,...,Positive,Neutral,Positive,Public Infrastructure ; Governmental Meeting ;...,2,4,Yes,Online Survey Studies ; Participative Workshop...,One hour a week,None
1,2,Taipei,2,Woman,1980-08-22,2005-06-22,Dà'ān/大安,5,Social Medias ; Messaging Apps ; Word to mouth...,Facebook ; Youtube,...,Positive,Positive,Positive,Global events ; Online,2,4,Yes,Online Survey Studies,One hour a week,None
2,3,Taipei,3,Woman,1988-12-10,2012-01-01,Sōngshān/松山,1,Social Medias ; Word to mouth ; Internet,Facebook ; Youtube ; Instagram,...,Neutral,Neutral,Neutral,Global events ; Startup support ; Online,2,4,No,Online Survey Studies,Less than one hour a year,None
3,4,Taipei,4,Woman,1991-11-12,2017-07-01,Dà'ān/大安,1,Social Medias ; Word to mouth ; Internet ; Ema...,Facebook ; Twitter ; Youtube ; Medium ; Linked...,...,Neutral,Positive,Positive,Neighborhood ; Global events ; Startup support...,3,3,Yes,Online Survey Studies ; Participative Workshop...,One hour a week,None
4,5,Taipei,5,Man,1983-06-26,2011-02-04,Zhong he,5,Word to mouth ; Internet,,...,Positive,Positive,Negative,Business clusters,3,3,No,Participative Workshops,Less than one hour a year,None

In [11]:
survey.engagement_type.unique()
# multiple answers possible survey questions gives as many values as combinations. tokenise !

array(['Online Survey Studies ; Participative Workshops ; Voting App',
       'Online Survey Studies', 'Participative Workshops', '',
       'Online Survey Studies ; Participative Workshops ; Community Project',
       'Online Survey Studies ; Voting App',
       'Online Survey Studies ; Voting App ; Community Project',
       'Online Survey Studies ; Participative Workshops ; Voting App ; Community Project',
       'Interviews ; Community Project', 'Voting App',
       'Online Survey Studies ; Participative Workshops ; Interviews ; Voting App ; Community Project',
       'Online Survey Studies ; Participative Workshops',
       'Participative Workshops ; Interviews ; Community Project',
       'Online Survey Studies ; Participative Workshops ; Interviews ; Voting App',
       'Interviews', 'Participative Workshops ; Voting App',
       'Participative Workshops ; Voting App ; Community Project',
       'Online Survey Studies ; Participative Workshops ; Interviews',
       'Online Survey Studies ; Interviews ; Voting App',
       'Community Project', 'Online Survey Studies ; Interviews',
       'Participative Workshops ; Community Project',
       'Online Survey Studies ; Participative Workshops ; Interviews ; Community Project',
       'Participative Workshops ; Interviews',
       'Online Survey Studies ; Interviews ; Community Project',
       'Online Survey Studies ; Community Project',
       'Voting App ; Community Project',
       'Online Survey Studies ; Interviews ; Voting App ; Community Project',
       'Interviews ; Voting App',
       'Participative Workshops ; Interviews ; Voting App ; Community Project'],
      dtype=object)

In [12]:
interview = pd.read_sql_query('SELECT * FROM DemocracyStudioDB.interview', engine)
interview.head()

,interview_id,city_id,agent_id,gender,agent_name,job_position,linkedin_url,organisation,organisation_type,organisation_url,...,relationship,city_transformation,opposition_feeling,expert_gap,expert_role,opposition_impact,engagement_platform,platform_features,other_content,interview_date
0,1,Taipei,367,Man,Oko Davaasuren,Community Leader,https://www.linkedin.com/in/okodavaasuren/,Techstars,Startup Incubator,https://www.techstars.com/,...,Techstars Taipei is support by the MOST — Mini...,I assume startup ecosystems can have an influe...,By my work I have met a lot of people coming f...,,,,,,,2019-12-12
1,2,Taipei,368,Man,Edward Lin,Senior Industry Analyst,,MIC — Market Intelligence and Consulting Insti...,Private Research,https://mic.iii.org.tw/english/,...,We recognize ourselves as an official governme...,,,"Yes, I would say not only the people: it is ha...",Building a Smart-city and decision-making in u...,This is the main difference between democracie...,We consult entrepreneurs and local governments...,Our web managers collect useful information on...,,2019-12-13
2,3,Taipei,369,Man,Chen-Yu Lee,Director,,Smart-Taipei,Public Think Tank,https://smartcity.taipei/,...,We started to work as a team of 15 and we are ...,,,The term Smart-City is vague: it includes a li...,"Yes indeed, we help the industrials to interac...",,Our first year we spent a lot of time to inter...,"As I said earlier, we do not use online platfo...",6. So which are the main trends you have been ...,2019-12-17
3,4,Taipei,370,Man,Laurent le Guyader,Vice-president,https://www.linkedin.com/in/laurent-le-guyader...,French Tech,Startup Incubator,https://www.linkedin.com/company/la-french-tech/,...,,Very lightly: transforming the city is not par...,,,,,,,6. What interest the Taiwanese interested in F...,2019-12-19
4,5,Tel Aviv,371,Man,Eyal Yaniv,"Director, Chairman",linkedin.com/in/eyal-yaniv,Bar-Ilan University,Academic Research,https://www.linkedin.com/school/bar-ilan-unive...,...,In Bar-Ilan University Center for Smart-Cities...,,,,"At the beginning of modern Israel, it was dese...",,,,What kind of management do you apply and how i...,2020-02-06

In [13]:
frames = [agent, survey, interview, tweet]

data = pd.concat(frames,axis=1)
data

,agent_id,city_id,participation_channel,agent_category,agent_type,higly_engaged,survey_id,city_id,agent_id,gender,...,platform_features,other_content,interview_date,tweet_id,city_id,agent_id,twitter_profile,tweet_url,content,tweet_date
0,1.0,Taipei,Survey,Private Sector,Corporate Company,None,1.0,Taipei,1.0,Woman,...,,,2019-12-12,1,Taipei,19466,https://twitter.com/TwinMomTravels,https://twitter.com/TwinMomTravels/status/1210...,"#Taiwan is full of unique, stunning landscapes...",None
1,2.0,Taipei,Survey,Governmental & Public Sector,Individual Citizen,None,2.0,Taipei,2.0,Woman,...,Our web managers collect useful information on...,,2019-12-13,2,Taipei,8312,https://twitter.com/Hillinatrix,https://twitter.com/Hillinatrix/status/1208552...,Party in an old Japanese-style building near m...,None
2,3.0,Taipei,Survey,Governmental & Public Sector,Individual Citizen,None,3.0,Taipei,3.0,Woman,...,"As I said earlier, we do not use online platfo...",6. So which are the main trends you have been ...,2019-12-17,3,Taipei,18170,https://twitter.com/taiwannews_setn,https://twitter.com/taiwannews_setn/status/120...,"The City Of Taipei, Taiwan❤️\n#Taiwan #CzechRe...",None
3,4.0,Taipei,Survey,Private Sector,Corporate Company,None,4.0,Taipei,4.0,Woman,...,,6. What interest the Taiwanese interested in F...,2019-12-19,4,Taipei,18151,https://twitter.com/Taiwan_Today,https://twitter.com/Taiwan_Today/status/120967...,.@iingwen (center) congratulates a freshly min...,None
4,5.0,Taipei,Survey,Private Sector,Startup & SMEs,None,5.0,Taipei,5.0,Man,...,,What kind of management do you apply and how i...,2020-02-06,5,Taipei,18148,https://twitter.com/Taiwan_Review,https://twitter.com/Taiwan_Review/status/12101...,Activists participating in a protest held by #...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41263,Tallinn,3704,https://twitter.com/cervus,https://twitter.com/cervus/status/770822348,Unbesiegbares Denkmal (1991). nette geschichte...,None
41248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41264,Tallinn,3704,https://twitter.com/cervus,https://twitter.com/cervus/status/779086681,auf #heise gibt es einen nutzer namens #tallin...,None
41249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41265,Tallinn,10962,https://twitter.com/klamma,https://twitter.com/klamma/status/1014467617,I am on my way to #Tallinn. Will meet Martin a...,None
41250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41266,Tallinn,10962,https://twitter.com/klamma,https://twitter.com/klamma/status/1015306773,With the loops he fed the violin again. Amazin...,None
41251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,41267,Tallinn,10962,https://twitter.com/klamma,https://twitter.com/klamma/status/1016125667,Going to the conference in #Tallinn. Will have...,None

In [24]:
#use SQL to replace "Governmental & Public Sector" by "Public Sector" in agent_category field
query = "UPDATE DemocracyStudioDB.agent SET agent_category = REPLACE(agent_category, 'Governmental & Public Sector', 'Public Sector')"
data = pd.read_sql_query(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [26]:
#same to replace "University Academics, Research & Innovation" by "Research & Innovation" and "Civil Society, Social and Third Sector" by "Civil Society" 
#(need nested replace())
query = "UPDATE DemocracyStudioDB.agent SET agent_category = replace(replace(agent_category, 'University Academics, Research & Innovation', 'Research & Innovation'), 'Civil Society, Social and Third Sector', 'Civil Society')"
data = pd.read_sql_query(query, engine)

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [ ]:
query = "select city_id, count(agent_id) as total_agents \
from DemocracyStudioDB.Agent \
group by city_id \
order by city_id asc"
data = pd.read_sql_query(query, engine)
print(data)

In [ ]:
query = "select city_id, twitter_profile, count(twitter_profile) as total_tweets \
from DemocracyStudioDB.Tweet \
group by city_id, twitter_profile \
order by total_tweets desc"
data = pd.read_sql_query(query, engine)
print(data)

In [ ]:
query = "select agent_category, count(agent_id) as total_agents \
from DemocracyStudioDB.Agent \
group by agent_category \
order by total_agents desc"
data = pd.read_sql_query(query, engine)
print(data)
# disgusting result, sorry. I will need to normalize this column too ^^

In [ ]:
query = "select influencers, count(agent_id) as total_agents \
from DemocracyStudioDB.Agent \
where influencers IN ('l. Individual Citizen', 'a. Government (National)', 'b. Government (Local)', 'e. Academic Research & University', 'f. Private Research & Innovation') \
group by influencers \
order by total_agents desc"
data = pd.read_sql_query(query, engine)
print(data)

In [ ]:
# Using multi condition request to Select highly_engaged profiles
query = "select agent_id from DemocracyStudioDB.Agent where media_source IN ("Social Medias") AND meeting_place IN ("Online") AND opinion_share IN ("4", "5") AND engagement_wish IN ("Yes")"
data = pd.read_sql_query(query, engine)
print(data)

In [ ]:
#adding a column "highly_engaged" to Agent Table
query = "ALTER TABLE Agent \
ADD COLUMN highly_engaged BOOLEAN"
data = pd.read_sql_query(query, engine)

In [ ]:
# change the highly_engaged status to True for matching profiles
import numpy as np
query = "data['highly_engaged'] = np.where(\
media_source IN (“Social Medias”) AND\ 
meeting_place IN (“Online”) AND\
opinion_share IN (“4”, “5”) AND\
engagement_wish IN (“Yes), TRUE, data['highly_engaged'])"
data = pd.read_sql_query(query, engine)
print(data)

In [ ]:
#implement sentiment analysis technique to categorize twitter_profiles
import re
import nltk 
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
#change the default plot size to have a better view of the plots
plot_size = plt.rcParams["figure.figsize"] 
print(plot_size[0]) 
print(plot_size[1])

plot_size[0] = 8
plot_size[1] = 6
plt.rcParams["figure.figsize"] = plot_size

In [ ]:
# plot the number of tweets for each city
tweet.city_id.value_counts().plot(kind='pie', autopct='%1.0f%%')

In [ ]:
#add a column 'sentiment_category' to the table Tweet

In [ ]:
#categorise tweets in positive, neutral, negative on sentiment_category

In [ ]:
#check distribution of sentiments across all the tweets
tweet.sentiment_category.value_counts().plot(kind='pie', autopct='%1.0f%%', colors=["red", "yellow", "green"])

In [ ]:
#check the most frequently used words in the tweet content
import nltk
from nltk.corpus import stopwords

stopwords = set(STOPWORDS)
stopwords.update(["br", "href"])
text = " ".join(content for content in Tweet)
wordcloud = WordCloud(stopwords=stopwords).generate(text)
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis("off")
plt.savefig('wordcloud11.png')
plt.show()